.auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input{
    width: 100%;
    display: block;
    margin-bottom: 3rem;
}

.form-control{
    margin-bottom: 3rem;
}

.form-actions button{
    background: #2caffe;
    font: inherit;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #2caffe;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
}